.bar-chart {
    transform: rotateX(180deg);
}

.x-axis {

}

.y-axis {

}

.bars {
}

.bar {
    fill: #5f5e5e;
    width: 20px;
}

.project-name {
    transform: rotateX(180deg) translateY(-450px);
}