.bar-chart {
    transform: rotateX(180deg);
}

.x-axis-label {
    fill: #E7E6E7;
    transform: rotateX(180deg) translateY(-33px);
}

.x-axis {
    stroke: #E7E6E7;
    stroke-width: 2;
}

.y-axis-label {
    fill: #E7E6E7;
    transform: rotateX(180deg) translateY(-450px);
}

.y-axis {
    stroke: #E7E6E7;
    stroke-width: 2;
}

.bars {
}