:root {
  --emerald: #44cf85ff;
  --platinum: #e7e6e7ff;
  --granite-gray: #5f5e5eff;
  --medium-slate-blue: #9867ffff;
  --yellow-orange-color-wheel: #fe9400ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #5f5e5e;
}
h1, h2, h3 {
  text-align: center;
}
