.card {
    border-radius: 0.75rem;
    border: 3px solid;
    background: #5f5e5e;
    color: #E7E6E7;
    padding: 0.6rem 0.75rem;
    margin: 2rem 2rem;
    opacity: 0.8;
}

h1, h2 {
    color: #fe9400;
    
}