.card {
    border-radius: 0.75rem;
    border: 1px solid;
    color: #5f5e5e;
    background: #E7E6E7;
    padding: 0.6rem 0.75rem;
    margin: 2rem 5rem;
    opacity: 0.8;
}

h1, h2 {
    color: var(--yellow-orange-color-wheel);
    
}